body {
    background-color: white;
    text-size-adjust: 20px;
    padding: 30px;
    
}

header{
    position: center;
    text-decoration-color: black;
    background-color: aqua;
    width: cover;

}
/*banner area*/

ul {
    width: 100%;
    position: center;
    text-align: center;
}

footer {
    background-color: rgb(38, 38, 72);
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 15px;
    text-decoration: rgb(247, 247, 247);
}